<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sziit.noteassistant.mapper.InformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sziit.noteassistant.pojo.entity.Information">
        <id column="i_id" property="iId" />
        <result column="phone" property="phone" />
        <result column="profile" property="profile" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="uPhoto" property="uPhoto" />
        <result column="u_Id" property="uId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        i_id,phone,profile,country,province,city,photo_url,u_id
    </sql>
    <sql id="find_infor_where">
        <if test="iId != null">
            and i_id = #{iId}
        </if>
        <if test="uId!= null">
            and u_Id = #{uId}
        </if>
        <if test="phone!= null">
            and phone = #{phone}
        </if>

    </sql>

    <select id="findOne" resultMap="BaseResultMap">
        select * from information 
        <where>
            <include refid="find_infor_where"></include>
        </where>
    </select>
    
    <insert id="add_infor" useGeneratedKeys="true" keyProperty="iId">
        insert into information(phone,profile,country,province,city,photo_url,u_id)
        values (#{phone},#{profile},#{country},#{province},#{city},#{uPhoto},#{uId})
    </insert>
    
    <update id="updateInfor">
        update information
        <set>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="profile != null">
                profile = #{profile},
            </if>
            <if test="country != null">
                country = #{country},
            </if>
            <if test="province != null">
                province = #{province},
            </if>
            <if test="city != null">
                city = #{city},
            </if>
            <if test="uPhoto != null">
                photo_url = #{uPhoto},
            </if>
        </set>
        where information.u_id = #{uId}
    </update>
    <select id="getById" resultMap="BaseResultMap">
        select * from information where information.i_id = #{iId}
    </select>
    <select id="getByUid" resultMap="BaseResultMap">
        select * from information where information.u_id = #{uId}
    </select>
</mapper>
