<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sziit.noteassistant.mapper.NoteMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sziit.noteassistant.pojo.entity.Note">
        <id column="n_id" property="nId" />
        <result column="title" property="title" />
        <result column="favorite" property="favorite"/>
        <result column="summary" property="summary"/>
        <result column="createtime" property="createtime" />
        <result column="u_id" property="uId" />
    </resultMap>

    <!--<resultMap id="UserNotes" type="com.sziit.noteassistant.pojo.UserNotes">
        <id column="u_id" property="uid" />
        <result column="username" property="username" />
        <collection property="notes" column="u_id" select="selectNoteByUid" ofType="com.sziit.noteassistant.pojo.entity.Note"></collection>
    </resultMap>-->
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        n_id, title , favorite,createtime,summary, u_id
    </sql>

    <sql id="find_note_where">
        <if test="title != null">
            and n.title = #{title}
        </if>
        <if test="favorite!=null">
            and n.favorite = #{favorite}
        </if>
        <if test="createtime!=null">
            and n.createtime = #{createtime}
        </if>
        <if test="uId != null">
            and n.u_id = #{uId}
        </if>
    </sql>

    <select id="selectNotesByUid" resultType="com.sziit.noteassistant.pojo.entity.Note">
        select n.n_id,n.title,n.favorite,n.createtime,n.summary,n.u_id from note n where n.u_id = #{uId} order by n.createtime DESC
    </select>

    <select id="getFavoriteNote" resultMap="BaseResultMap">
        select n.n_id,n.title ,n.favorite,n.createtime ,n.summary,n.u_id from note n where n.u_id = #{uId} and n.favorite = true
    </select>

    <insert id="addNote" useGeneratedKeys="true" keyProperty="nId">
        insert into note(title ,favorite,createtime,u_id)
        values (#{title},#{favorite},#{createtime},#{uId})
    </insert>

    <update id="updateNote">
        update note
        <set>
            <if test="title != null">
                note.title = #{title},
            </if>
            <if test="createtime != null">
                note.createtime = #{createtime},
            </if>
            <if test="favorite != null">
                note.favorite = #{favorite},
            </if>
            <if test="summary != null">
                note.summary = #{summary},
            </if>
        </set>
        where note.n_id = #{nId}
    </update>

    <select id="findOne" resultMap="BaseResultMap">
        select n.n_id,n.title,n.favorite,n.createtime,n.summary,n.u_id from note n
        <where>
            <include refid="find_note_where"></include>
        </where>
    </select>
    <select id="selectNotesByUidASC" resultType="com.sziit.noteassistant.pojo.entity.Note">
        select n.n_id,n.title,n.favorite,n.createtime,n.summary,n.u_id  from note n where n.u_id = #{uId} order by n.createtime ASC
    </select>

    <select id="selectFavNotesByUid" resultType="com.sziit.noteassistant.pojo.entity.Note">
        select n.n_id,n.title,n.favorite,n.createtime,n.summary,n.u_id  from note n where n.u_id = #{uId} and n.favorite = true order by n.createtime Desc
    </select>
    <select id="selectFavNotesByUidASC" resultType="com.sziit.noteassistant.pojo.entity.Note">
        select n.n_id,n.title,n.favorite,n.createtime,n.summary,n.u_id  from note n where n.u_id = #{uId} and n.favorite = true order by n.createtime ASC
    </select>
</mapper>
