<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sziit.noteassistant.mapper.NoteMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sziit.noteassistant.pojo.entity.Note">
        <id column="n_id" property="id" />
        <result column="title" property="title" />
        <result column="favorite" property="favorite"/>
        <result column="data" property="data"/>
        <result column="summary" property="summary"/>
        <result column="date" property="date" />
        <result column="u_id" property="uId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        n_id, title,favorite,date,data,summary, u_id
    </sql>

    <sql id="find_note_where">
        <if test="title != null">
            and n.title = #{title}
        </if>
        <if test="favorite!=null">
            and n.favorite = #{favorite}
        </if>
        <if test="date!=null">
            and n.date = #{date}
        </if>
        <if test="uId != null">
            and n.u_id = #{uId}
        </if>
    </sql>

    <select id="findNoteByNid" resultMap="BaseResultMap">
        select n.n_id,n.title,n.favorite,n.summary,n.date,n.data from note n where n.n_id = #{nId}
    </select>


    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into note(title ,favorite,date,data,summary,u_id)
        values (#{title},#{favorite},#{date},#{data},#{summary},#{uId})
    </insert>

    <update id="update">
        update note
        <set>
            <if test="title != null">
                note.title = #{title},
            </if>
            <if test="date != null">
                note.date = #{date},
            </if>
            <if test="favorite != null">
                note.favorite = #{favorite},
            </if>
            <if test="summary != null">
                note.summary = #{summary},
            </if>
            <if test="data != null">
                note.data = #{data}
            </if>
        </set>
        where note.n_id = #{id}
    </update>

    <update id="changeFav">
        update note
        <set>
            <if test="favorite != null">
                note.favorite = #{favorite}
            </if>
        </set>
        where note.n_id = #{nId}
    </update>

    <select id="findOne" resultMap="BaseResultMap">
        select n.n_id,n.title,n.favorite,n.date,n.data,n.u_id from note n
        <where>
            <include refid="find_note_where"></include>
        </where>
    </select>
    <select id="getNotesAsc" resultType="com.sziit.noteassistant.pojo.entity.Note">
        select n.n_id as id,n.title,n.favorite,n.date,n.summary  from note n where n.u_id = #{uId} order by n.date ASC
    </select>

    <select id="getNotesDesc" resultType="com.sziit.noteassistant.pojo.entity.Note">
        select n.n_id as id,n.title,n.favorite,n.date,n.summary from note n where n.u_id = #{uId} order by n.date DESC
    </select>
    <select id="getFavNotesDesc" resultType="com.sziit.noteassistant.pojo.entity.Note">
        select n.n_id as id,n.title,n.favorite,n.date,n.summary from note n where n.u_id = #{uId} and n.favorite = true order by n.date Desc
    </select>
    <select id="getFavNotesAsc" resultType="com.sziit.noteassistant.pojo.entity.Note">
        select n.n_id as id,n.title,n.favorite,n.date,n.summary  from note n where n.u_id = #{uId} and n.favorite = true order by n.date ASC
    </select>

    <delete id="delNote">
        delete from note where n_id = #{id}
    </delete>
    <delete id="delNotes" parameterType="java.lang.String">
        delete from note
        where n_id IN
        <foreach collection="nIds" item="nId" open="(" separator="," close=")">
            #{nIds}
        </foreach>
    </delete>

    <select id="getNote" resultMap="BaseResultMap">
        select n.n_id , n.title, n.favorite , n.date, n.data from note n  where n.u_id = #{uId} and n.n_id = #{nId}
    </select>

    <select id="searcheNoteByTile" resultType="com.sziit.noteassistant.pojo.entity.Note">
        select n.n_id as id,n.title,n.favorite,n.date,n.summary from note n where n.u_id = #{uId} and n.title like "%"#{title}"%" order by n.date DESC
    </select>
</mapper>
