<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sziit.noteassistant.mapper.TextMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sziit.noteassistant.pojo.entity.Text">
        <id column="t_id" property="tId" />
        <result column="sort" property="sort" />
        <result column="text" property="text" />
        <result column="n_id" property="nId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t_id, sort, text, n_id
    </sql>
    <sql id="find_text_where">
        <if test="sort != null">
            and sort = #{sort}
        </if>
        <if test="nId != null">
            and n_id = #{nId}
        </if>
    </sql>

    <select id="selectTextByNid" resultType="com.sziit.noteassistant.pojo.entity.Text">
        select t.t_id, t.sort, t.text,t.n_id from text t where t.n_id = #{nId}
    </select>

    <insert id="addText">
        insert into  text(sort,text, n_id) values (#{sort},#{text},#{nId})
    </insert>
    
    <select id="selectOne" resultMap="BaseResultMap">
        select t.t_id,t.sort,t.text,t.n_id from text t
        <where>
            <include refid="find_text_where"></include>
        </where>
    </select>

    <update id="updateText">
        update text
        <set>
            <if test="sort != null">
                text.sort = #{sort},
            </if>
            <if test="text != null">
                text.text = #{text},
            </if>
        </set>
        where text.t_id = #{tId}
    </update>
    <select id="selectTextByTid" resultMap="BaseResultMap">
        select * from text where t_id = #{tId}
    </select>
</mapper>
