# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Springboot项目\note-assistant\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
